@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Poppins,sans-serif;
}
.link {
  text-decoration:none;
  color: inherit;
}
a{
  cursor: pointer;
}
body{
  color: #222;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}

header{
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  background-color: #f9f9f9;
  box-shadow: 0px  3px 3px #888888;
  padding: 1rem;
}


header a{
  text-decoration:none;
  color: inherit;
}
header a.logo{
  font-weight: bold;
  font-size: 1.5rem;
}
header nav{
  display:flex;
  gap: 24px;
}

div.post{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
  border-bottom: 1px solid lightgrey;
}
@media screen and (min-width: 900px) {
  div.post{
      grid-template-columns: .8fr 1.2fr;
  }
}

div.post div.image {
  min-height: 300px;
  background-size: cover;
  background-position: center;
}
div.post div.texts h2{
  margin:0;
  font-size: 1.8rem;
  text-transform: uppercase;
}

.info{
  margin:24px 0;
  color: #888;
  font-size:1rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

.author{
  color:#333;
  text-transform: capitalize;
}
.summary{
  margin:10px 0;
  line-height: 1.8rem;
}

form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}
input{
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
}
.button-class{
  cursor: pointer;
  width: 100%;
  display: block;
  background-color: #555;
  border:0;
  color: #fff;
  border-radius: 5px;
  padding: 7px 0;
}
form.login h1, form.register h1{
  text-align: center;
}


/* POST_PAGE */

.post-page a{
  text-decoration: none;
}

.post-page a:hover{
  opacity: 0.8;
}

div.post-page {
  padding: 50px 250px 30px 250px ;
}

.post-page .post-title {
  font-size: 60px;
  display: flex;
  align-items: flex-start;
}
.post-page .post-summary{
  text-align: start;
  margin: 10px 0 5px;
  color: #5f6368;
}

.post-page .post-time {
  color: #aaa;
}

div.post-page div.author{
  text-align: start;
  margin:  20px 0px;
  font-size: 15px;
  font-weight: bold;
  color: #174ea6;
  /* #202124; */
}

div.content {
  line-height: 30px;
  margin: 20px 0;
  padding: 0 30px;
  color: #202124;
  font-weight: 300;
}

.content > p {
  margin: 20px 0;
}

.content :is(h1, h2, h3, h4, h5, h6)
{
    font-weight: 400;
}


div.post-page div.image{
  height:auto;
  display: flex;
 
}
div.post-page div.image img{
  object-fit: cover;
  object-position:  center;
  width: 100%;
}

div.content li{
  margin-bottom: 10px;
}

div.actions-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
div.edit-row,div.delete-row{
  text-align: center;
  margin-bottom: 20px;
}
div.post-page a.edit-btn, .delete-btn{
  background-color: #333;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding:15px 30px;
  border-radius: 5px;
  text-decoration: none;
}
div.post-page .delete-btn {
  background-color: red;
  text-decoration: none;
  color: #f2f2f2;

}
svg{
  height:20px;
}



.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}


.no-support-container {
display: none;
}

.no-support-text {
display: none;
}


/* AUTH_FROMS */
.auth-page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 5rem);
  margin-top: -40px;
}

.auth-page-container .left-side {
  flex: 1;
  display: flex;
  height: 100%;
  
}
.auth-page-container .right-side {
  flex: 1;
  padding: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
.form-link >p >a{
  text-decoration: none;
  color: #174ea6;
}

/* CREATE-EDIT-POST */
.deploy-post-container {
  display: flex;
  flex-direction: column;
  
}
.deploy-title {
  text-align: center;
}
.deploy-post {
  padding: 20px 300px;
}
div.quill div.ql-editor {
  min-height: 35vh;
}


/* INDEX-PAGE */
.recent-post {
  display: flex;
  height: 500px;
  margin-bottom: 40px;
  transition: all 0.5s ease;
  gap: 20px;
}

.recent-post-image {
  flex: 2;
}

.recent-post-card {
  flex: 1;
  display: flex;
  align-items: flex-start;
}
.recent-post-card >.ant-card {
  min-width: 300px;
}

.recent-post-heading {
  font-weight: 700;
  margin-bottom: 20px;
}
.recent-post-summary {
  color: #5f6368;
  margin-bottom: 20px;
}
.recent-post-icon {
  font-size: 20px;
  font-weight: 800;
}

.recent-post:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.recent-post:hover .recent-post-heading,.recent-post-icon {
  text-decoration: underline;

}
.recent-post:hover .recent-post-icon {
  color: #0c53c5;
}


.post-card{
  min-width: 300px;
  height: 300px;
  padding: 10px;
  
}
.post-card-author-name {
  color: #5f6368;
  font-size: 13px;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.post-card-author-name> span {
  color: #0c53c5;
}

.post-card-title {
  font-size: large;
  margin-bottom: 10px;
}
.post-card-image {
  height: 150px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media screen and (max-width:1024px) {
  div.post-page {
    padding: 0px 100px 30px 100px ;
  }
  .deploy-post {
    padding: 20px 200px;
  }
  
}
@media screen and (max-width:900px) {
  div.post div.texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div.post div.texts h2{
    font-size: 1.5rem; 
  }
  .info {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  div.post div.image{
    aspect-ratio: 1;
  }
  .recent-post {
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 700px;
  } 
 
  .recent-post-card {
    width: 100%;
  }

  .recent-post-card >.ant-card {
    width: 100%;
  }
 
 
}

@media screen and (max-width:768px) {
  /* div.post-page {
    padding: 0px 100px 30px 100px ;
  } */

  .auth-page-container .left-side {
    display: none
  }
  
  .auth-page-container .right-side {
    padding:40px 80px;
  }

  div.post-page div.image{
   margin: 0px -100px
  }
  div.content {
   
    padding: 0px 20px;

  }
  .deploy-post {
    padding: 20px 100px;
  }
  
}


@media screen and (max-width:600px) { 
  .no-support-container {
    display: block;
    height: 100vh;
     width: 100vw;
     position: fixed;
     top: 0;
     backdrop-filter: blur(5px);
 }
 
 .no-support-text {
   position: fixed;
   top: 50vh;
   left: 30vw;
   height: 30vh;
   width: 40vw;
   background: inherit;
   display: flex;
   align-items: center;
   justify-content: center;
 }

}
